---
const { href, title, body } = Astro.props;
---

<li
	class='bg-slate-50 dark:bg-slate-800 p-6 rounded-md shadow-md hover:cursor-pointer transition-all duration-150 hover:scale-110 list-none'
>
	<a href={href} class='no-underline'>
		<h2
			class='text-black dark:text-white text-xl dark:font-extrabold font-bold mb-2'
		>
			{title}
		</h2>
		<p class='text-gray-600 dark:text-gray-300'>{body}</p>
	</a>
</li>
